# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

*.class
*.jar
*.war
*.ear
target/

# VS Code
.vscode/

# IntelliJ / JetBrains
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

.env
*.env
*.key
*.pem



/bin/
